<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Про нас</title>
</head>
<body>
    <header>Онлайн-книгарня</header>
    <nav>
        <a href="{{ url_for('home') }}">Головна</a>
        <a href="{{ url_for('cart') }}">Кошик</a>
        <a href="{{ url_for('about') }}">Про нас</a>>
    </nav>
    <div class="container">
        <h2>Про нас</h2>
        <p>Ми – онлайн-книгарня, яка пропонує широкий вибір книг для всіх любителів літератури.</p>
    </div>
    <footer>
        &copy; 2024 Онлайн-книгарня. Усі права захищено.
    </footer>
</body>
</html>
